<h1>Welcome to SmedGD</h1>

<h2>About this site</h2>

<p>To take full advantage of what SmedGD has to offer, please take a look at our <%= link_to </p>

<h2>About Planaria</h2>

<p>Planarians are free-living (non-parasitic) freshwater organisms possessing derivatives of all three germ layers (i.e., ectoderm, mesoderm and endoderm). These animals are renowned for their developmental plasticity and have attracted the attention of generations of biologists</p>

<h2>Citations</h2>

<p>
If you use SmedGD in your research please reference the following citation: 
</p>
