// Place all the styles related to the Annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.annotation_name {
  float: left;
  padding-right: 20px;
}

.annotation_type {
  float: left;
  clear: right;
}
